:root {
  --background-page-color: #ffffff;
  --brand-color-contrast-color: #2196f3;
  --brand-color-background: #2f303a;
  --brand-color-dark: #000000;
  --brand-color-dirty: #e5e5e5;
  --brand-color-bright: #ffffff;
  --brand-color-contact: #757575;
  --brand-color-text: #212121;
  --brand-color-our-team: #f5f4fa;
  --brand-color-description: #757575;
}
body {
  font-family: "roboto", sans-serif;
  color: var(--brand-color-text);
  background-color: var(--background-page-color);
  letter-spacing: 0.03em;
}
.hero {
  display: flex;
  height: 600px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--brand-color-bright);
  background-color: var(--brand-color-background);
  text-align: center;
  letter-spacing: 0.06em;
}
h1 {
  display: flex;
  height: 120px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--brand-color-bright);
  background-color: var(--brand-color-background);
  text-align: center;
  letter-spacing: 0.06em;
}
header {
  background-color: var(--brand-color-bright);
  font-weight: 500;
  color: var(--brand-color-text);
  font-size: 14px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.02em;
}
.about-us {
  background-color: var(--background-page-color);
}
.our-team {
  background-color: var(--brand-color-our-team);
}
.btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: block;
  align-items: center;
  letter-spacing: 0.06em;
  background-color: var(--brand-color-contrast-color);
  color: var(--brand-color-bright);
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 42px;
  padding-right: 41px;
  border: none;
  border-radius: 4px;
  flex-wrap: nowrap;
}
.btn-portfolio {
  background: var(--brand-color-our-team);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color-text);
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border: none;
}
.btn-portfolio:hover,
.btn-portfolio:focus {
  background: var(--brand-color-contrast-color);
  color: var(--brand-color-bright);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
a {
  color: inherit;
  text-decoration: none;
}
.a-contact {
  color: VAR(--brand-color-contact);
  text-decoration: none;
  font-weight: 500;
}
a:hover {
  color: var(--brand-color-contrast-color);
  text-decoration: none;
}
a:focus {
  color: var(--brand-color-contrast-color);
  text-decoration: none;
}
.logo-web {
  color: var(--brand-color-contrast-color);
  text-decoration: none;
  font-family: "raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.logo-studio-top {
  color: var(--brand-color-dark);
  text-decoration: none;
  font-family: "raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.logo-studio-bottom {
  color: var(--brand-color-bright);
  text-decoration: none;
  font-family: "raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--brand-color-text);
}
.p-title {
  text-transform: uppercase;
}
.p-h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--brand-color-description);
}
h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-color-text);
  padding-top: 94px;
}
.team-member {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--brand-color-text);
  letter-spacing: 0.03em;
  margin: 0;
  padding-top: 30px;
}
.team-function {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--brand-color-description);
  letter-spacing: 0.03em;
  margin: 0;
  padding-top: 10px;
}
footer {
  background-color: var(--brand-color-background);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--brand-color-bright);
  display: flex;
  margin: 0 auto;
  box-sizing: border-box;
  height: 252px;
  flex-direction: column;
}
.footer-contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--brand-color-text);
}
.project-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--brand-color-description);
}
ul {
  list-style: none;
  display: inherit;
}
.container {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
}
.menu {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  padding: 24px 0px 25px 50px;
}
.header-bar {
  align-items: center;
  justify-content: space-evenly;
}
.nav-links {
  display: flex;
  padding: 32px 32px;
}

.text {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 94px;
}
.text-field {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.about-work {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
  padding-top: 50px;
}

.about-work-images {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 94px;
}
.team-box {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-around;
  align-content: center;
  padding: 50px 0px 94px 0;
}
.team-item {
  height: 368px;
  width: 270px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  background-color: var(--background-page-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.footer-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 215px;
}
.footer-inner-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
